@charset "UTF-8";
/* CSS Document */
body {
	background-image: url(../img/bg.jpg);}

#box {
	position: fixed;
	top: 100px;
	left: 100px;
	height: 95px;
	width: 95px;
	border-radius: 15px;
	background: rgba(45,45,45,0.45);
	border: double thick #969696;
	
	background-image: -webkit-linear-gradient(30deg, rgba(255,255,255,0.15), rgba(45,45,45,0.45) 45%, rgba(255,255,255,0.15));
}